{block:tumblrThemr}
<html>
<head>
  <link rel="stylesheet" href="/stylesheets/site.css">
  <style type="text/css">  {{}}  </style>
  <style type="text/css">{CustomCSS}</style>


  <script="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.4/jquery.min.js"></script>
  <meta name='text:Disqus Shortname' content='' />
  <meta name="image:Avatar" content="" />
  {block:Description}
  <meta name="description" content="{MetaDescription}" />
  {/block:Description}
</head>
<body>
  <%= partial "header" %>

  <div class="wrapper">
    <%= partial "sidebar" %>
    <div id="main">
      <div id="main-wrapper" class="row">
        <ol id="posts">
          {block:Posts}

          <%= partial "posts/text" %>
          <%= partial "posts/photo" %>
          <%= partial "posts/photoset" %>
          <%= partial "posts/quote" %>
          <%= partial "posts/link" %>
          <%= partial "posts/chat" %>
          <%= partial "posts/video"  %>
          <%= partial "posts/audio" %>

          {/block:Posts}
        </ol>
      </div>
    </div>
  </div>

  <%= partial "footer" %>
</body>
</html>
{/block:tumblrThemr}