<% if development? %>
{block:tumblrThemr}
<% end %>
<html>
<head>
  <% if development? %>
    <link rel="stylesheet" href="/stylesheets/site.css">
  <% end %>
  <% if build? %>
  <style type="text/css">

  </style>
  <% end %>
  <style type="text/css">{CustomCSS}</style>


  <meta name='text:Disqus' content='' />
  <meta name='text:Twitter' content='' />
  <meta name='text:Github' content='' />
  <meta name='text:Dribbble' content='' />
  <meta name="image:Avatar" content="" />

  <% if build? %>
  <script type="text/javascript" src="//use.typekit.net/pwn0nhw.js"></script>
  <script type="text/javascript">try{Typekit.load();}catch(e){}</script>
  <script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/jquery/1.4/jquery.min.js"></script>
  <% end %>
  {block:Description}
  <meta name="description" content="{MetaDescription}" />
  {/block:Description}
</head>
<body>
  <%= partial "header" %>

  <div class="wrapper">
    <%= partial "sidebar" %>
    <div id="main">
      <div id="main-wrapper" class="row">
        <ol id="posts">
          {block:Posts}

          <%= partial "posts/text" %>
          <%= partial "posts/photo" %>
          <%= partial "posts/photoset" %>
          <%= partial "posts/quote" %>
          <%= partial "posts/link" %>
          <%= partial "posts/chat" %>
          <%= partial "posts/video"  %>
          <%= partial "posts/audio" %>

          {/block:Posts}
        </ol>
        <%= partial "footer" %>
      </div>
    </div>
  </div>

</body>
</html>
<% if development? %>
{/block:tumblrThemr}
<% end %>